.site-header {
    display: flex;
    width: 100%;
    background: var(--color-header-footer);
    justify-content: space-between;
    padding: 0 2em;
    border-bottom: var(--color-header-footer-border);
}

.site-header a {
    display: block;
    color: #FFF;
    text-decoration: none;
}

.site-header .site-title {
    font-family: 'Playball', cursive;
    font-size: 2rem;
    padding: 0.5em 0;
    font-weight: 700;
    color: #FFF;
}

.site-header .site-nav-header {
    display: flex;
}

.site-header .site-nav-header ul {
    display: flex;
}

.site-header li {
    display: flex;
    margin: 0 0.7rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.site-header .site-nav-header a{
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
    position: relative;
}

.site-header a:hover {
    text-shadow: var(--text-shadow);
}

@media (max-width: 600px){
    .site-header .site-title {
        min-width: 5rem;
        display: block
    }

    .site-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .site-header .site-nav-header ul {
        display: flex;
        flex-direction: column;
    }

    .site-header li {
        flex: 1 0 20%;
        display: block;
        text-align: center;
        padding: 0.4rem 0;
    }

    .site-header .site-nav-header a {
        display: block;
    }
}