.site-footer {
    background: var(--color-header-footer);
    border-top: var(--color-header-footer-border);
    padding: 1em auto;
    color: #FFF;
    margin: 0 auto;
}

.site-footer .follow-us {

}

.site-footer a {
    color: #fff;
    position: relative;
}

.site-footer a i {
    position: absolute;
    top: 0;
    left: -1.6em;
}

.footer-container {
    margin: 0 auto;
    width: 80%;
    border-bottom: 2px solid #FFF;
    display: flex;
    justify-content: space-around;
}

.site-footer .follow-us,
.site-footer .site-map,
.site-footer .footer-contacts {
    padding: 1em 2em;
    flex: 0 0 25%;
}

.footer-contacts-ul,
.site-footer .site-nav-footer{
    padding: 1rem 0;
}

.footer-container h4 {
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.footer-container .site-map a:hover {
    text-shadow: var(--text-shadow);
}

.footer-contacts li {
    justify-content: center;
    display: flex;
}

.footer-contacts span{
    position: relative;
}

.footer-contacts i {
    position: absolute;
    top: 0;
    left: -1.5rem;
    margin-right: 0.8rem;
}

.footer-contacts .fa-map-marker-alt {
    top: 0.5rem;
}

.site-footer p {
    padding: 1em 0;
    text-align: center;
}