.site {
    width: 100%;
}

.site-main {
    background: #EEEEEE;
    box-shadow: inset 3px 3px 36px -3px rgba(0,0,0,0.75);
}

@media ( max-width: 400px) {
    .slogan {
        padding: 0;
    }

    .slogan div {
        margin: 1rem 2rem;
    }
    .slogan div span {
        font-size: 1.5rem;
    }
}

@media (max-width: 660px){
    .slogan {
        padding: 2rem 0;
    }

    .site-header {
        background-position: center ;
    }

    .nav-bar .site-title {
        min-width: 5rem;
        display: block
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .nav-bar .site-nav-header ul {
        display: flex;
        flex-direction: column;
    }

    .nav-bar li {
        flex: 1 0 20%;
        display: block;
        text-align: left;
        padding: 0.4rem 0;
    }

    .site-nav-header a {
        display: block;
    }

    .footer-container {
        flex-direction: column;
    }

    .site-footer .follow-us,
    .site-footer .site-map,
    .site-footer .footer-contacts {
        margin: 0 auto;
        text-align: center;
    }

    .footer-slogan p {
        text-align: center;
    }

    .site-footer .site-map {
        text-align: left;
    }

    .footer-contacts li {
        justify-content: center;
    }

    /* index */

    .index-about-ballet {
        width: 85%;
    }

    .group-kids,
    .group-junior {
        margin: 0 auto;
    }

    .index-groups-wrapper div {
        margin-top: 1rem;
    }

    .index-groups-wrapper div:not(:last-child){
        margin-bottom: 3rem;
    }
}