<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>
<body>

    <div class="site">

        <header class="site-header">
            <div class="nav-bar">
                {% if page.home == true %}
                <h1 class="site-title">
                    <a href="{{ site.baseurl }}/">{{site.title}}</a>
                </h1>
                {% else %}

                <p class="site-title">
                    <a href="{{ site.baseurl }}/">{{site.title}}</a>
                </p>
                {% endif %}

                {% include navigation.html location="header"%}
            </div>
            {% if page.home == true %}
            <div class="slogan">
                <div class="slogan-left">
                    <span>Classical Ballet</span>
                    <span>School</span>
                    <span>VERY</span>
                </div>
                <div class="slogan-rigth">
                    <span>Life without dance is like</span>
                    <span>life without air.</span>
                    <span>IMPOSSIBLE!</span>
                </div>
            </div>
            {% endif %}
        </header>

        <main class="site-main">

            {% if page.title %}
            <h1>{{page.title}}</h1>
            {% endif %}

            {{content}}

        </main>

        <footer class="site-footer">
            <div class="footer-container">
                <section class="follow-us">
                    <h4>FOLLOW US</h4>
                    <div class="icon-container">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="3"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-google-plus-square"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class="footer-slogan">
                        <span>Life without dance is like life without air.</span>
                        <p>IMPOSSIBLE!</p>
                    </div>
                </section>
                <section class="site-map">
                    <h4>LINKS</h4>
                    {% include navigation.html location="footer" %}
                </section>
                <section class="footer-contacts">
                    <h4>CONTACTS</h4>
                    <ul class="footer-contacts-ul">
                        <li><span><i class="fas fa-phone-square"></i>+49 176 192 3511</span></li>
                        <li><span><i class="fas fa-envelope-open-text"></i>{{ site.email }}</span></li>
                        <li><span><i class="fas fa-map-marker-alt"></i>{{ site.addres }}</span></li>
                    </ul>
                </section>
            </div>
            <p>All rights reserved. &copy; 2019 {{site.title}} | Disign by Angel Aleksandrov</p>
        </footer>

    </div>
</body>
</html>