
.gallery {
    max-width: 60rem;
    padding: 3rem;
    margin: 0 auto;
    display: block;

}

.galery-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & li {
        flex: 0 0 30%;
        margin-bottom: 5%;
        background: #FFF;
        display: flex;
        position: relative;
        animation: slideIn 0.3s ease-in;
        animation-fill-mode: both;
        border-radius: 0.5rem;

        @for $i from 1 through 17 {
            &:nth-child(#{$i}) { animation-delay: $i * 0.1s; }
        }
    }

    & img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.galery-content li {

    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        box-shadow: var(--box-shadow-defout);
        opacity: 0;
        transition: opacity 0.3s ease-in;
    }

    &:hover:before {
        opacity: 1;
    }

    & a {
        width: 100%;
        display: flex;
        border: var(--color-site-border);
        border-radius: 0.5rem;
        align-items: center;
        justify-content: center;
        padding: 0.5em;

        &:hover span::before {
            opacity: 0;
        }
    }
}

.galery-content span {
    display: block;
    position: relative;

    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(0,0,0,0.5);
        transition: opacity 0.3s ease-in;
    }

    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        box-shadow: var(--box-shadow-inset);
    }
}
