.site {
    width: 100%;
}

.site-main {
    background: #DDD;
    box-shadow: var(--box-shadow-inset);
    padding: 2rem;
}

/* main-header */

.main-header {
    text-align: center;
    padding: 3rem;
}

.main-header h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-fot-main-headers);
}

.main-header p {
    border: var(--color-site-border);
    max-width: 5rem;
    margin: 1em auto;
}

@media ( max-width: 1024px ) {
    .about-school, .about-teacher{
        width: 90%;
    }
    
    .wrapper-grid {
        display: block;
    }

    .about-grid-img-section2 {
        display: flex;
        justify-content: center;
    }

    .about-grid-img-section2 img {
        margin: 2rem auto;
    }

    .wrapper-teacher {
        flex-direction: column;
        margin: 3rem 0;
    }

    .teacher-photo {
        margin: 0;
    }

    .teacher-photo img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    .teacher-info {
        padding: 2rem 0;
        display: block;
        width: 100%;
    }

}

@media (max-width: 660px){
    .slogan {
        padding: 2rem 0;
    }
    
    .slogan div {
        margin: 3rem 1rem;
    }

    .slogan-little  p {
        color: #FFF;
        text-shadow: 1.5px 1.5px 1.5px #000;
        font-family: 'Playball', cursive;
        font-size: 2rem;
        flex: 0 0 100%;
        margin-bottom: 0.5rem;
    }
    
    .site-header {
        background-position: center ;
    }
    
    .nav-bar .site-title {
        min-width: 5rem;
        display: block
    }
    
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    
    .nav-bar .site-nav-header ul {
        display: flex;
        flex-direction: column;
    }
    
    .nav-bar li {
        flex: 1 0 20%;
        display: block;
        text-align: left;
        padding: 0.4rem 0;
    }
    
    .site-nav-header a {
        display: block;
    }
    
    .footer-container {
        flex-direction: column;
    }
    
    .site-footer .follow-us,
    .site-footer .site-map,
    .site-footer .footer-contacts {
        margin: 0 auto;
        text-align: center;
    }

    .icon-container {
        justify-content: center;
    }
    
    .footer-slogan p {
        text-align: center;
    }
    
    .site-footer .site-map {
        text-align: left;
    }

    .site-footer .site-map li,
    .footer-contacts li {
        justify-content: center;
        margin-top: 0.5rem;
    }
    
    /* index */
    
    .index-about-ballet {
        width: 85%;
    }
    
    .group-kids,
    .group-junior {
        margin: 0 auto;
    }
    
    .index-groups-wrapper div {
        margin-top: 1rem;
    }

    .index-groups-wrapper div:not(:last-child){
        margin-bottom: 3rem;
    }

    /* contacts */

    .map,
    .contact-form {
        max-width: 35rem;
        margin: 0 auto 2rem;
        width: auto;
    }

    .contacts-container .contacts-ul-main {
        padding: 3rem;
    }

    .map {
        padding: 0;
    }

    .map img {
        max-width: 100%;
    }

    .contact-form .left {
        width: 100%;
    }

    .contact-form .right {
        width: 100%;
    }

    .contact-form .right textarea{
        margin: 2rem 0;
    }

    /* gallery */

    .gallery {
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
        display: block;
    }

    .galery-content li {
        flex: 0 0 47%;
        margin-bottom: 6%;
    }

    /* news */

    .news-container {
        width: 100%;
        padding: 2rem;
    }
    
    .news-container li p {
        margin: 4rem 0 0 0;
    }

    .news-container li i {
        top: -4rem ;
        left: 0;
    }
}


@media ( max-width: 400px) {
    .slogan {
        padding: 0;
        flex-wrap: wrap;
    }

    .slogan .slogan-rigth {
        text-align: left;
    }

    .slogan div {
        margin: 1rem 1rem;
    }

    .slogan div span {
        font-size: 1.5rem;
    }

    /* about */

    .about-grid-img-section2 img{
        max-width: 100%;
    }

    .teacher-photo img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    /* gallery */

    .gallery {
        width: 100%;
        padding: 1rem 0;
        margin: 0 auto;
        display: block;
    }

    .galery-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .galery-content li {
        flex: 0 0 80%;
        margin-bottom: 6%;
    }

    /* news */

    .news-container {
        width: 100%;
        padding: 1rem;
        margin: 0 auto 2rem ;
        border: none;
        border-radius: none;
        box-shadow: none;
    }

    .news-container li {
        padding: 1rem;
    }
}