.site {
    width: 100%;

    &-main {
        background: #DDD;
        box-shadow: var(--box-shadow-inset);
        padding: 2rem;
    }
}

.main-header {
    text-align: center;
    padding: 3rem;

    & h2 {
        font-size: 3rem;
        font-weight: bold;
        color: var(--color-fot-main-headers);
    }

    & p {
        border: var(--color-site-border);
        max-width: 5rem;
        margin: 1em auto;
    }
}

@include bp (laptop) {

    .about-school, .about-teacher{
        width: 90%;
    }
    
    .wrapper-grid {
        grid-template-areas:
        "text text text"
        "photo-school photo-school photo-school"
        "landscape-photo landscape-photo landscape-photo"
        "mission mission mission"
    ;
    }

    .about-grid-img-section2 {
        display: flex;
        justify-content: center;
    }

    .about-grid-img-section2 img {
        margin: 2rem auto;
        margin-left: auto;
    }

    .wrapper-teacher {
        flex-direction: column;
        margin: 3rem 0;
    }

    .wrapper-teacher .teacher-photo {
        max-width: 50%;
        margin: 0 auto;
    }

    .teacher-photo img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .teacher-info {
        padding: 2rem 0;
        display: block;
        width: 100%;
    }

}

@include bp (tablet) {
    
    .slogan { animation-delay: 0.8s; }

    .slogan div {
        margin: 1rem;
    }

    .slogan-little  p {
        color: #FFF;
        text-shadow: 1.5px 1.5px 1.5px #000;
        font-family: 'Playball', cursive;
        font-size: 2rem;
        flex: 0 0 100%;
        margin-bottom: 0.5rem;
    }

    .slogan-little { animation-delay: 0.8s; }
    
    .site-header {
        background-position: center ;
    }
    
    .nav-bar .site-title {
        min-width: 5rem;
        display: block
    }
    
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        & .site-nav-header ul {
            display: flex;
            flex-direction: column;

            & a {
                display: block;
            }
        }

        & li {
            flex: 1 0 20%;
            display: block;
            text-align: left;
            padding: 0.4rem 0;
        }
    }
    
    .footer-container {
        flex-direction: column;
    }
    
    .site-footer .follow-us,
    .site-footer .site-map,
    .site-footer .footer-contacts {
        margin: 0 auto;
        text-align: center;
    }

    .icon-container {
        justify-content: center;
    }
    
    .footer-slogan p {
        text-align: center;
    }
    
    .site-footer .site-map {
        text-align: left;
    }

    .site-footer .site-map li,
    .footer-contacts li {
        justify-content: center;
        margin-top: 0.5rem;
    }
    
    /* index */
    
    .index-about-ballet {
        width: 85%;
    }
    
    .types-of-groups li h3 {
        font-size: 3rem;
    }

    .types-of-groups p {
        font-size: 1.5rem;
    }

    .types-of-groups div > a:hover strong {
        font-size: 1.8rem;
    }
    
    // about

    .teacher-photo img {
        width: 90%;
    }

    /* contacts */

    .map,
    .contact-form {
        max-width: 35rem;
        margin: 0 auto 2rem;
        width: auto;
    }

    .contacts-container .contacts-ul-main {
        padding: 3rem;
    }

    .map {
        padding: 0;

        & img {
            max-width: 100%;
        }
    }

    .contact-form {

        & .left {
            width: 100%;
        }

        & .right {
            width: 100%;

            & textarea{
                margin: 2rem 0;
            }
        }
    }

    /* gallery */

    .gallery {
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
        display: block;

        
    }

    .galery-content li {
        flex: 0 0 47%;
        margin-bottom: 6%;
    }

    /* news */

    .news-container {
        width: 100%;
        padding: 2rem;

        & li p {
            margin: 3rem 0 0 0;
        }

        & li i {
            top: -3rem ;
            left: 0;
        }
    }
}


@include bp (mobile) {

    .slogan {
        padding: 0;

        & div span {
            font-size: 2rem;
        }
    }

    /* about */

    .about-grid-img-section2 img{
        width: 100%;
    }
    
    .wrapper-teacher .teacher-photo {
        width: 70%;
        margin: 0 auto;
    }

    .teacher-photo img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }


    /* gallery */

    .gallery {
        width: 100%;
        padding: 1rem 0;
        margin: 0 auto;
        display: block;
        
        
    }

    .galery-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .galery-content li {
        flex: 0 0 80%;
        margin-bottom: 6%;
    }

    /* news */

    .news-container {
        width: 100%;
        padding: 1rem;
        margin: 0 auto 2rem ;
        border: none;
        border-radius: none;
        box-shadow: none;
    }

    .news-container li {
        padding: 1.5rem;
    }

    .news-container li p {
        margin: 2.5rem 0 0 0;
    }

    .news-container li i {
        top: -3rem;
    }
}