.news-section {
    display: block;
}

.news-container {
    width: 80%;
    padding: 5rem;
    margin: 0 auto 2rem ;
    border: var(--color-site-border);
    border-radius: 1rem;
    box-shadow: var(--box-shadow-defout);

    & li {
        background: var(--color-header-footer);
        border: var(--color-site-border);
        border-radius: 1rem;
        padding: 2rem 4rem;
        margin: 1.5rem 0;
        animation: slideIn 0.3s ease-in;
        animation-fill-mode: both;

        @for $i from 2 through 5 {
            &:nth-child(#{$i}) { animation-delay: $i * 0.1s; }
        }

        & p {
            margin-left: 3rem;
            color: #FFF;
            position: relative;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 1.1rem;
        }

        & i {
            position: absolute;
            top: 0 ;
            left: -4rem;
            font-size: 2rem;
        }
    }
}